page-lunbo {

}

.singer-list{
  background: yellowgreen;
  max-height: 160px
}

.singer-name{
  background: plum;
  height: 30px;
  line-height: 30px;
}

.singer-list .item-md{  background: yellowgreen;
}

.singer-list .header-md{height: 30px}
