// http://ionicframework.com/docs/theming/

ion-slides {
  display: block;
  width: 100%;
  //margin-top: 58px;
  height: auto
  /* height: 100%; */
}

.swiper-slide img {
  width: 100%;
  max-width: 100%;
  height: 180px;
  /* max-height: 100%; */
}

.toolbar-background-md  {
  /* padding: 4px; */
  background: lightblue;
}

.toolbar-title{display: flex;justify-content: center}

ul,li{padding: 0;margin: 0}
li{list-style: none;}

button.highlight{background: paleturquoise; color:yellowgreen}


// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
